 * {
     box-sizing: border-box;
 }

 body {
     margin: 0;
     background-color: white;
 }

 img {
     width: 100%;
     border-radius: 10px;
 }

 embed {
     width: 100%;
     border-radius: 10px;
     height: 50vw;
     display: flex;
     flex-wrap: wrap;

 }

 .favicon {
     width: 25%;
     margin-left: 15px;
 }



 h1 {
     font-family: 'Open Sans', sans-serif;
     font-size: 1.5rem;
     color: #3b4141;
     text-transform: uppercase;
     margin-left: 10px;
     top: 15vw;
     font-weight: lighter;
 }

 h2 {
     font-family: 'Open Sans', sans-serif;
     font-size: 1.2rem;
     color: #6d956d;
     margin-left: 15px;
     font-weight: normal;

 }

 p {
     font-family: 'Lato', sans-serif;
     font-size: 1.1rem;
     line-height: 25px;
     color: #3b4141;
     margin-left: 10px;
     letter-spacing: 0.5px;

 }

 #txt p {
     font-family: 'Indie Flower', cursive;
     font-size: 6rem;
     color: #3b4141;
     letter-spacing: 0.2px;
     position: absolute;
     top: 10vw;
     right: 8vw;
     line-height: 80px;

 }

 .favicon {
     width: 25%;
     margin-left: 15px;
 }


 .menuknap {
     margin: 8px;
 }

 /*
 nav {
     margin: 8px;

 }
*/

 nav a {
     color: #3b4141;
     text-decoration-line: none;
     font-size: 0.8rem;
     font-style: normal;
     margin: 8px;
     padding: 14px 16px;
     line-height: 1vw;
     font-family: 'Lato', sans-serif;
     flex-direction: column;
     flex-wrap: wrap;
     display: flex;

 }

 .menu a {
     float: left;
     display: block;
     font-family: 'Lato', sans-serif;
     flex-direction: column;

 }

 nav a:hover {
     background-color: rgba(191, 59, 75, 0.2);
     color: black;
     text-decoration-line: none;
 }


 nav a.active {
     background-color: rgba(191, 59, 75, 0.2);
     color: white;
     justify-content: space-around;

 }

 .hidden {
     /*    display: none;*/
     /*    transform: scale(0);*/
     transform: translateX(-100%);
     opacity: 0;
 }

 #menuknap {
     display: inline-block;
     margin: 2vw;
     position: relative;
     left: 85vw;
     top: 2vw;
 }

 #menu {
     list-style-type: none;
     transition: transform 0.3s;
     transform-origin: top left;
     background-color: rgba(127, 157, 127, 0.32);
     overflow: hidden;
 }

 @media only screen and (min-width: 600px) {

     #menu {
         background-color: rgba(127, 157, 127, 0.32);
         overflow: hidden;
     }

     menu a:hover {
         background-color: rgba(195, 103, 114, 0.28);
         color: black;
     }

     #menuknap {
         display: none;
     }

     #menu.hidden {
         transform: translateX(0);
         opacity: 1;
     }

     #menu li {
         display: inline-block;
     }

     nav a {
         float: left;
         display: block;
         color: #3b4141;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
         font-size: 17px;
         margin-top: 1vw;
         line-height: 0vw;
         font-family: 'Lato', sans-serif;
     }

 }



 /*
embed {
    width: 50vw;
    border-radius: 10px;
    height: 375px;

}
}

*/
 #forside {
     padding: 8px;
     margin: 8px;
 }

 #baggrundsbillede {
     width: 100%;
     height: 100vh;
     background-image: url(billeder/final.svg);
     background-size: cover;
     background-position: 18% 10%;
     margin: 0;
 }

 #cv {
     padding: 8px;
     margin: 8px;
 }

 #cv .sectionwrapper {
     display: flex;
     flex-wrap: wrap;
 }

 #cv .col {
     flex-grow: 1;
     flex-basis: 500px;
     margin: 8px;
     padding: 8px;
     background-color: rgba(211, 163, 169, 0.2);
     border-radius: 10px;
 }

 #cv .img {
     flex-grow: 1;
     flex-basis: 250px;

 }

 .links a {
     color: black;
     font-size: 1rem;
     font-family: 'Lato', sans-serif;
     font-style: normal;
     letter-spacing: 1px;
     text-align: center;
     background-color: white;
     margin: 8px;
     padding: 8px;
     border-radius: 10px;
     border: 1px solid rgba(191, 113, 96, 0.34);
     text-decoration-line: none;

 }

 .links a:hover {
     background-color: rgba(191, 113, 96, 0.34);
     color: black;
     text-decoration-line: none;
 }

 #html {
     padding: 8px;
     margin: 8px;
 }

 #html .sectionwrapper {
     display: flex;
     flex-wrap: wrap;
     top: auto;
 }

 #html .col {
     flex-grow: 1;
     flex-basis: 500px;
     margin: 8px;
     padding: 8px;
     background-color: rgba(211, 163, 169, 0.2);
     border-radius: 10px;
 }




 #html .img {
     flex-grow: 1;
     flex-basis: 250px;
 }



 #indhold {
     padding: 8px;
     margin: 8px;
 }

 #indhold .sectionwrapper {
     display: flex;
     flex-wrap: wrap;
     top: auto;
 }


 #indhold .col {
     flex-grow: 1;
     flex-basis: 500px;
     margin: 8px;
     padding: 8px;
     background-color: rgba(211, 163, 169, 0.2);
     border-radius: 10px;
 }

 /*
 #indhold .top {
     display: flex;
     flex-wrap: wrap-reverse;
 }

 #indhold .bottom {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap-reverse;
 }
*/


 #indhold .img {
     flex-grow: 1;
     flex-basis: 250px;
 }

 .video_responsive {
     overflow: hidden;
     padding-bottom: 56.25%;
     position: relative;
     height: 0;
 }

 .video_responsive iframe {
     left: 0;
     top: 0;
     height: 100%;
     width: 100%;
     position: absolute;
 }


 #ux {
     padding: 8px;
     margin: 8px;
 }

 #ux .sectionwrapper {
     display: flex;
     flex-wrap: wrap;
     top: auto;
 }

 #ux .col {
     flex-grow: 1;
     flex-basis: 500px;
     margin: 8px;
     padding: 8px;
     background-color: rgba(211, 163, 169, 0.2);
     border-radius: 10px;
 }

 /*
 #ux .top {
     display: flex;
     flex-wrap: wrap-reverse;
 }

 #ux .bottom {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap-reverse;
 }
*/

 #ux .img {
     flex-grow: 1;
     flex-basis: 250px;
 }



 #animation {
     padding: 8px;
     margin: 8px;
 }

 #animation .sectionwrapper {
     display: flex;
     flex-wrap: wrap;
     top: auto;
 }

 #animation .col {
     flex-grow: 1;
     flex-basis: 500px;
     margin: 8px;
     padding: 8px;
     background-color: rgba(211, 163, 169, 0.2);
     border-radius: 10px;
     top: 20px;
 }


 /*
 #animation .top {
     display: flex;
     flex-wrap: wrap-reverse;
 }

 #animation .bottom {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap-reverse;
 }
*/

 #animation .img {
     flex-grow: 1;
     flex-basis: 250px;
     margin-bottom: 10px;
 }

 footer {
     font-family: 'Lato', sans-serif;
     text-align: center;
     background-color: rgba(127, 157, 127, 0.32);
     color: #3b4141;
     padding: 8px;
     margin: 10px;
 }

 .pulse {
     animation-name: pulse_kf;
     animation-duration: 1.5s;
     animation-iteration-count: infinite;
     animation-timing-function: ease;
 }


 @keyframes pulse_kf {
     0% {
         transform: scale(1);
     }

     50% {
         transform: scale(1.05);
     }

     100% {
         transform: scale(1);
     }
 }

 @media only screen and (max-width:900px) {
     embed {
         width: 85vw;
         border-radius: 10px;
         display: flex;
         flex-wrap: wrap;

     }

     h1 {
         font-size: 1.5rem;

     }

     h2 {
         font-size: 1.2rem;
     }

     p {
         font-size: 1.1rem;
     }


     links a {
         font-size: 0.6rem;

     }


     #txt p {
         font-size: 2.5rem;
         line-height: 40px;
     }
 }
